/* Particles background styles (her sayfada kullanılacak) */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* diğer elementlerin arkasında kalır */
}

/* Genel arka plan rengi */
body,
.body {
    background-color: cornflowerblue;
}